#https://stackoverflow.com/questions/28097064/dockerignore-ignore-everything-except-a-file-and-the-dockerfile

# Ignore Everything
**

!sphinx.sh

!work
!test
!pyaddepar
!setup.py
!binder/jupyter_notebook_config.py
!binder/config.ini
!binder/example.ipynb

**/__pycache__
**/*.pyc
.ipynb_checkpoints